@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ul>
        @foreach (var data in Model.MDDatas)
        {
            <li>@data.Title</li>
        }
    </ul>
</div>
